<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %> 
<body>
    
    <%= task.title %>
    <%= task.description %>
    <%= task.state %>
    <%= task.user %>
    <%= task.id %> 

</body>
</html>